<h1>Travelwatch</h1>
<h2>Look at everyone's data</h2>
<ol>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.email, user_path(user.id) %>
    </li>
  <% end %>
</ol>

<h2>User accounts</h2>
<ul>
  <% if user_signed_in? %>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
  <% else %>
    <li><%= link_to "Register", new_user_registration_path %></li>
    <li><%= link_to('Login', new_user_session_path) %></li>
  <% end %>
</ul>

<h2>Add flights</h2>
<p>
  Forward an itinerary to <strong>travel@ledwards.com</strong> from a registered account.
</p>
